<!DOCTYPE html>
<html lang="en" ng-app="algolia-challenge">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Algolia Coding Challenge</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="styles/styles.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- VENDOR SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/angularjs/1/angular.min.js"></script>
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.angular.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src='scripts/app.js'></script>
  <script src='scripts/search.js'></script>


</head>

<body ng-controller="SearchCtrl">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">

        <span class="navbar-brand"><span class="glyphicon glyphicon-tag"></span> BEST BUY</span>

      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">

      <!-- search column -->
      <div class="col-sm-3 search-column">

        <div class="form-group" role="search">
          <input type="text" class="form-control" placeholder="Search" id="search-field" ng-model="search.query">
        </div>

        <div ng-if="search.query" class="autocomplete-results"> <!-- hide default results until something is queried -->

          <div class="row" ng-if="search.brands.length !== 0">
            <h6>BRANDS</h6>
            <ul class="autocomplete" ng-repeat="brand in search.brands" ng-click="setQuery(brand)">
              <li>{{brand}}</li>
            </ul>
          </div>

          <div class="row" ng-if="search.products.length !== 0">
            <h6>PRODUCTS</h6>
            <ul class="autocomplete" ng-repeat="product in search.products" ng-click="setQuery(product)">
              <li>{{product}}</li>
            </ul>
          </div>

          <div class="row" ng-if="search.categories.length !== 0">
            <h6>RELATED CATEGORIES</h6>
            <ul class="autocomplete" ng-repeat="category in search.categories" ng-click="setQuery(category)">
              <li>{{category}}</li>
            </ul>
          </div>

        </div> <!-- /ng-if -->

      </div> <!-- /search-column -->

      <div class="col-sm-9 results-column">

        <div class="row">
          <div class="col-sm-12">

            <!-- render search hits -->
            <span ng-repeat="hit in search.hits" class="search-results">

              <div class="col-xs-12 card">
                <!-- image section -->
                <a href={{hit.url}}>
                  <div class="col-sm-3 image-cell">
                    <img ng-src={{hit.image}}>
                  </div>
                </a>

                <!-- product details -->
                <div class="col-sm-6 product-details">
                  <a href="{{hit.url}}">
                    <h4>{{hit.name}}</h4>
                  </a>

                  <div>
                    by <span ng-click="setQuery(hit.brand)" class="brand">{{hit.brand}}</span>

                    <!-- handle star ratings -->
                    <span class="star-rating pull-right">
                      <span ng-switch="hit.stars">
                        <span ng-switch-when="5"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
                        <span ng-switch-when="4"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
                        <span ng-switch-when="3"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
                        <span ng-switch-when="2"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
                        <span ng-switch-when="1"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span>
                      </span>
                    </span> <!-- /star ratings -->
                  </div>

                  <div>
                    <p class="description">{{hit.description}}</p>
                  </div>
                  <div>
                    <ul class="list-inline">
                      <li ng-repeat="category in hit.categories" ng-click="setQuery(category);" class="text-uppercase result-category">
                        {{category}}
                      </li>
                    </ul>
                  </div>
                </div>

                <!-- pricing column -->
                <div class="col-sm-3 product-pricing">
                  <span class="hidden-sm hidden-md hidden-lg"><hr /></span>
                  <div>
                    <h2>${{hit.price}}</h2>
                  </div>
                  <div ng-if="hit.free_shipping === true" class="shipping">
                    FREE SHIPPING
                  </div>

                  <div class="purchase-button">
                    <a href="{{hit.url}}" class="btn btn-warning btn-block cta-button"><span class="glyphicon glyphicon-shopping-cart"></span> <span class="hidden-sm">Add to </span>Cart</a>
                  </div>
                </div>

              </div>


            </span> <!-- /search hits -->

          </div>
        </div>

      </div> <!-- /results column -->


    </div>
  </div>

</body>

</html>
