<!DOCTYPE html>
<html lang="en" ng-app="algolia-challenge">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Algolia Coding Challenge</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="dev/styles/styles.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- VENDOR SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/angularjs/1/angular.min.js"></script>
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.angular.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="dev/scripts/search.js"></script>

</head>
<body ng-controller="SearchCtrl">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand">BEST BUY</span>
      </div>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <!-- grab search input -->
          <input type="text" class="form-control" placeholder="Search" id="search-field" ng-model="search.query">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
    </div>
  </nav>


  <div class="container">
    <div class="col-xs-10 col-xs-offset-1">

      <!-- render search hits -->
      <span ng-repeat="hit in search.hits" class="search-results">

        <div class="col-sm-4">
          <div class="col-xs-12 card">
            <a href={{hit.url}}>
              <div class="row">
                <img ng-src={{hit.image}}>
              </div>
            </a>

            <div class="row">
              <a href="{{hit.url}}">
                <h4>{{hit.name}}</h4>
              </a>
            </div>
          </div>

        </div>
      </span>
    </div>
  </div>

</body>

</html>
