div {
  border: 1px dotted grey;
}

$background: #e6e6e8!important;

$prod-bg: #ffffff;
$prod-title: #003b64;

$card-border: #dddddd;
$card-shadow: rgba(0,0,0,0.3);
$card-shadow-dark: rgba(0,0,0,0.3);

body {
  background-color: $background;
}

ul {
  padding-left: 8px;
}

a:hover {
  text-decoration: none!important;
}

.autocomplete li {
  list-style: none;
}
.brand {
  color: $prod-title;
}

.search-results {

}

.card {
  // border: 1px solid $card-border;
  margin: 5px;
  // min-height: 300px!important;
  position: relative;
  background-color: $prod-bg;

  // shadow
  -webkit-box-shadow: 1px 2px 6px 0px $card-shadow;
  -moz-box-shadow: 1px 2px 6px 0px $card-shadow;
  box-shadow: 1px 2px 6px 0px $card-shadow;
}

.card:hover {
  // shadow
  -webkit-box-shadow: 2px 3px 6px 0px $card-shadow-dark;
  -moz-box-shadow: 2px 3px 6px 0px $card-shadow-dark;
  box-shadow: 2px 3px 6px 0px $card-shadow-dark;
}

.card img {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  padding-top: 20px;
  padding-bottom: 20px;

}

.image-cell {
  min-height: 203px;
  background-color: #ffffff!important;
}

.product-details {
  background-color: $prod-bg;
  padding: 10px 20px 10px 20px;
  // position: absolute;
  // bottom: 0;
  // max-width: 100%;
  // min-width: 100%;
  min-height: 100%;

  a {
    color: $prod-title;
    :hover {
      color: darken($prod-title, 10);
    }
  }
}
