// COLORS //

$background: #e6e6e8!important;

$bestbuy-blue: #003b64!important;
$bestbuy-gold: #fadf00!important;
$bestbuy-gold-dark: #eed501!important;

$prod-bg: #ffffff;
$prod-title: #003b64;

$card-border: #dddddd;
$card-shadow: rgba(0,0,0,0.2);
$card-shadow-dark: rgba(0,0,0,0.4);

// MIXINS //

@mixin shadow($px1, $px2, $px3, $px4, $color) {
  -webkit-box-shadow: $px1 $px2 $px3 $px4 $color;
     -moz-box-shadow: $px1 $px2 $px3 $px4 $color;
      -ms-box-shadow: $px1 $px2 $px3 $px4 $color;
          box-shadow: $px1 $px2 $px3 $px4 $color;
}



// STYLES //
body {
  background-color: $background;
}

h6 {
  font-weight: 800!important;
}

ul {
  padding-left: 8px;
}

a:hover {
  text-decoration: none!important;
}

.autocomplete li {
  color: #4b4b4b;
  list-style: none;
  -webkit-transition: color .2s;
          transition: color .2s;
}
.autocomplete li:hover {
  color: black;
}

.autocomplete-results {
  margin-left: 15px;
  margin-right: 15px;
}

.brand {
  color: $prod-title;
}

.btn {
  -webkit-transition: background-color .3s, border-color .3s;
          transition: background-color .3s, border-color .3s;
}

.btn-warning {
  background-color: $bestbuy-gold;
  border: 0px!important;
  color: $bestbuy-blue;
}

.btn-warning:hover {
  background-color: $bestbuy-gold-dark;
}

.card {
  margin: 5px;
  position: relative;
  background-color: $prod-bg;
  @include shadow(1px, 2px, 6px, 0px, $card-shadow);
  -webkit-transition: box-shadow .4s;
          transition: box-shadow .4s;
}

.card:hover {
  @include shadow(2px, 3px, 6px, 0px, $card-shadow-dark);
}

.card img {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cta-button {
  margin-bottom: 30px!important;
}

.description {
  font-size: 12px;
  margin-top: 10px;
}

.glyphicon-tag {
  color: $bestbuy-gold;
}

.image-cell {
  min-height: 203px;
  background-color: #ffffff!important;
}

.navbar {
  background-color: $bestbuy-blue;
  border: 0px!important;
  border-radius: 0!important;
}

.navbar-brand {
  color: white!important;
}

.product-details {
  background-color: $prod-bg;
  padding: 10px 20px 10px 20px;
  min-height: 100%;
  a {
    color: $prod-title;
    :hover {
      color: darken($prod-title, 10);
    }
  }
}

.result-category {
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.search-column li,
.brand {
  cursor: pointer;
}

.shipping {
  font-size: 10px;
  font-weight: 800;
  margin-bottom: 15px;
}

.star-rating {
  color: #ffe600;
  padding-right: 20px;
}
